.gradle
gradle.properties
build/
out/

*.class

.mtj.tmp/

*.jar
*.war
*.ear
!gradle-wrapper.jar

hs_err_pid*

*.iml
.idea/
*.ipr
*.iws
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
